@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body y etiquetas */
body {
  background-color: rgba(255, 240, 248, 0.6980392157);
  font-family: "Montserrat", sans-serif;
}
body h1 {
  color: #693382;
  letter-spacing: 2px;
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
}
body .tracking-in-expand {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s both;
}
body h2 {
  color: #693382;
  text-decoration-line: underline;
  text-decoration-color: #F9F4FF;
}
body h3 {
  color: black;
}
body p {
  color: rgb(42, 42, 51);
  line-height: 25px;
  padding: 10px;
}
body a {
  text-decoration: none;
  color: #BEAEE2;
}
body ul li {
  line-height: 25px;
}
body ul img {
  width: 250px;
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
body .portada {
  background-image: url(../images/portada.jpg);
  text-shadow: 4px 4px 2px rgba(247, 219, 240, 0.6);
  height: 300px;
  background-size: contain;
  background-position: center;
  text-align: center;
  font-weight: bolder;
  padding: 100px 0px;
  margin-top: 20px;
}

/* Header & Footer */
header {
  z-index: 1000;
}
header nav.navbar {
  background-color: #ebeef3;
  border-bottom: 1px solid #BEAEE2;
}
header img {
  width: 70px;
  margin: 5px 20px;
}
header nav a {
  text-decoration: none;
  color: #693382;
  text-transform: uppercase;
  font-weight: bold;
}
header nav a:hover {
  color: #d394cd;
  text-decoration: underline;
}
header .nav-item {
  list-style: none;
  padding: 5px 0px;
}
header .navbar-toggler {
  background-color: #BEAEE2;
  padding: 10px 20px;
  margin-right: 20px;
}

/* ----------------------- footer--------------------------- */
.footer {
  background-color: #f4e0f5;
  padding: 20px 0 8px 0;
  text-align: center;
  border-top: 2px solid #ceaddd;
}
.footer img {
  width: 50px;
}
.footer p {
  color: #693382;
  font-weight: bold;
  font-size: 20px;
}
.footer .footer-iconos {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.footer .footer-copy p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
}

/* Grid */
.bloque-contenedor-grid {
  padding: 30px;
  margin: 20px 15px;
  border-radius: 10px;
  background-color: #E6E6FA;
}
.bloque-contenedor-grid .contenedor-grid {
  display: grid;
  grid-template-areas: "img1 img1 texto1" "texto2 img2 img2" "img3 img3 texto3" "texto4 img4 img4";
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: 400px 500px 450px 450px;
  row-gap: 30px;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.bloque-contenedor-grid .contenedor-grid img {
  box-shadow: 2px 2px 20px 0 #bd7ddb;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.bloque-contenedor-grid .contenedor-grid .grid-texto-1 {
  grid-area: texto1;
}
.bloque-contenedor-grid .contenedor-grid .grid-img-1 {
  grid-area: img1;
}
.bloque-contenedor-grid .contenedor-grid .grid-texto-2 {
  grid-area: texto2;
}
.bloque-contenedor-grid .contenedor-grid .grid-img-2 {
  grid-area: img2;
}
.bloque-contenedor-grid .contenedor-grid .grid-texto-3 {
  grid-area: texto3;
}
.bloque-contenedor-grid .contenedor-grid .grid-img-3 {
  grid-area: img3;
}
.bloque-contenedor-grid .contenedor-grid .grid-texto-4 {
  grid-area: texto4;
}
.bloque-contenedor-grid .contenedor-grid .grid-img-4 {
  grid-area: img4;
}
.bloque-contenedor-grid .contenedor-grid .grid-texto-1, .bloque-contenedor-grid .contenedor-grid .grid-texto-2, .bloque-contenedor-grid .contenedor-grid .grid-texto-3, .bloque-contenedor-grid .contenedor-grid .grid-texto-4 {
  font-family: "Caveat", cursive;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 1.3px;
  background-color: #F1E6FF;
  border: 2px solid #F2C6D9;
  padding: 20px;
  border-radius: 10px;
  color: #3B3B58;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.kdramas-titulo {
  margin: 20px 20px 30px 20px;
}

/* Acordeón  */
.accordion-item {
  border: 1px solid #9b7fa9;
}
.accordion-item h4 {
  font-size: 20px;
}

.accordion-button {
  background-color: #d0bcd8;
  font-weight: 600;
}
.accordion-button:not(.collapsed) {
  background-color: #d5b1e4;
}

.categorias {
  background-color: #ece9f8;
  margin: 10px;
  padding: 30px;
  border-radius: 20px;
  color: rgb(42, 42, 51);
  font-size: 15px;
}
.categorias ul {
  padding-left: 20px;
}
.categorias h3 {
  padding-bottom: 10px;
  text-decoration-line: underline;
  text-decoration-color: #BEAEE2;
  font-weight: bold;
  color: #693382;
}

.top {
  color: rgb(42, 42, 51);
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
}
.top h3 {
  text-align: center;
  padding: 30px;
  color: #693382;
}
.top p {
  color: rgb(42, 42, 51);
  font-size: 15px;
  font-weight: normal;
}
.top img {
  border-radius: 8px;
}

.top-contenedor {
  box-shadow: 1px 1px 10px 2px #cae0f8;
  background-color: #ece9f8;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.top-dramas {
  margin: 0 auto;
}
.top-dramas li {
  list-style-type: none;
  margin-right: 30px;
}
.top-dramas h4 {
  padding: 20px;
  text-transform: uppercase;
  text-shadow: 4px 4px 2px rgba(212, 165, 228, 0.6);
  font-weight: bold;
}
.top-dramas p {
  padding: 20px;
}

.parrafo {
  margin: 30px 10px;
  line-height: 30px;
  max-width: 95%;
}

/* ----------------------- iframes / OST--------------------------- */
.ost-titulo {
  margin: 20px 20px 30px 20px;
}
.ost-titulo h2 {
  text-align: center;
}

.bloque-ost {
  margin: 20px;
  background-color: #f3e8ff;
  padding: 25px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 100%;
}
.bloque-ost .grid-videos {
  background-color: #f5e2fa;
  border: 2px solid #c6aad1;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
}
.bloque-ost .grid-videos h3 {
  margin: 10px;
}
.bloque-ost .grid-videos iframe {
  box-shadow: 2px 1px 15px 2px #c6aad1;
  border-radius: 10px;
}

/* Películas  */
.peliculas-titulo {
  margin: 20px 20px 30px 20px;
}
.peliculas-titulo h2 {
  text-align: center;
}

.lista-peliculas ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 50px 100px;
}
.lista-peliculas ul li {
  background-color: #f3e4f7;
  border-radius: 20px;
}
.lista-peliculas ul li p {
  line-height: 28px;
  font-size: 14px;
}
.lista-peliculas ul li:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(219, 89, 236, 0.356);
  transition: 0.3s;
}
.lista-peliculas img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.info-peliculas {
  padding: 20px;
}
.info-peliculas h4 {
  line-height: 30px;
  text-align: center;
  font-weight: bold;
}
.info-peliculas p {
  text-align: center;
  line-height: 30px;
}

/* Contacto */
.contacto-titulo {
  margin: 20px 20px 30px 20px;
}

.formulario {
  background-color: #f3e7f8;
  font-weight: 600;
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}
.formulario form {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
}
.formulario .input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 15px 0px;
  width: 100%;
}
.formulario .grupo-input {
  display: flex;
  gap: 5px;
  width: 100%;
}
.formulario .grupo-checkbox {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}
.formulario .checkbox {
  display: inline-flex;
  gap: 15px;
}
.formulario textarea {
  width: 100%;
  height: 100px;
}
.formulario textarea, .formulario input {
  padding-left: 6px;
}
.formulario textarea:focus, .formulario input:focus {
  background-color: rgb(252, 225, 246);
  border: 4px solid rgb(190, 106, 197);
}
.formulario .mensaje {
  display: flex;
  gap: 10px;
}
.formulario .boton-enviar {
  background-color: #cbbdd1;
  color: #693382;
  font-weight: bold;
  padding: 15px 100px;
  border-radius: 10px;
  border: none;
}
.formulario .boton-enviar:hover {
  background-color: #693382;
  color: #cbbdd1;
}
.formulario .boton-contenedor {
  display: flex;
  justify-content: center;
}

#carouselExampleAutoplaying {
  width: 50%;
  margin: 30px auto;
}

/* mediaQ celulares */
@media (max-width: 480px) {
  header {
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  header img {
    width: 50px;
  }
  nav {
    width: 100%;
  }
  .bloque-contenedor-grid .contenedor-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 150px;
    grid-template-areas: "img1" "texto1" "img2" "texto2" "img3" "texto3" "img4" "texto4";
  }
  .bloque-contenedor-grid .contenedor-grid .grid-texto-1, .bloque-contenedor-grid .contenedor-grid .grid-texto-2, .bloque-contenedor-grid .contenedor-grid .grid-texto-3, .bloque-contenedor-grid .contenedor-grid .grid-texto-4 {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
  }
  .parrafo {
    line-height: 38px;
    font-size: 16px;
  }
  .parrafo p {
    line-height: 38px;
    font-size: 16px;
  }
  h1 {
    font-size: 38px;
  }
  .kdramas-titulo {
    font-size: 32px;
  }
  .top p {
    font-size: 16px;
    line-height: 35px;
  }
  .top-dramas div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ost-titulo h1 {
    font-size: 32px;
  }
  .ost-titulo p {
    line-height: 30px;
  }
  .bloque-ost {
    display: flex;
    flex-direction: column;
  }
  .grid-videos iframe {
    width: 100%;
    height: 200px;
  }
  .peliculas-titulo h2 {
    margin: 10px;
  }
  .peliculas-titulo p {
    line-height: 30px;
  }
  .lista-peliculas ul {
    grid-template-columns: 1fr;
    padding: 0 20px;
    gap: 50px;
  }
  .info-peliculas {
    padding: 15px;
  }
  .info-peliculas p {
    font-size: 16px;
    line-height: 35px;
  }
  .formulario {
    width: 90%;
  }
  .contacto-titulo p {
    line-height: 30px;
  }
  .grupo-input {
    flex-direction: column;
  }
  #carouselExampleAutoplaying {
    width: 90%;
  }
}
/* mediaQ tablet */
@media (min-width: 481px) and (max-width: 768px) {
  header {
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  header img {
    width: 50px;
  }
  nav {
    width: 100%;
  }
  .bloque-contenedor-grid .contenedor-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 200px;
    grid-template-areas: "img1" "texto1" "img2" "texto2" "img3" "texto3" "img4" "texto4";
  }
  .bloque-contenedor-grid .contenedor-grid .grid-texto-1, .bloque-contenedor-grid .contenedor-grid .grid-texto-2, .bloque-contenedor-grid .contenedor-grid .grid-texto-3, .bloque-contenedor-grid .contenedor-grid .grid-texto-4 {
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 35px;
  }
  h1 {
    font-size: 32px;
  }
  .kdramas-titulo {
    font-size: 32px;
  }
  .top p {
    font-size: 17px;
    line-height: 35px;
  }
  .top-dramas div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 28px;
    margin-top: 10px;
    text-align: center;
  }
  .top img {
    width: 300px;
  }
  .ost-titulo h1 {
    font-size: 32px;
  }
  .ost-titulo p {
    line-height: 35px;
    font-size: 17px;
  }
  .bloque-ost {
    display: flex;
    flex-direction: column;
  }
  .bloque-ost p {
    font-size: 17px;
    line-height: 32px;
  }
  .grid-videos iframe {
    width: 100%;
    height: 200px;
  }
  .peliculas-titulo h2 {
    margin: 10px;
  }
  .peliculas-titulo p {
    line-height: 35px;
    font-size: 17px;
  }
  .lista-peliculas ul {
    grid-template-columns: 1fr;
    padding: 0 20px;
    gap: 50px;
  }
  .info-peliculas {
    padding: 15px;
  }
  .info-peliculas p {
    font-weight: 500;
    font-size: 16px !important;
    line-height: 35px !important;
  }
  .formulario {
    width: 90%;
  }
  .contacto-titulo p {
    line-height: 30px;
  }
  .grupo-input {
    flex-direction: column;
  }
  #carouselExampleAutoplaying {
    width: 90%;
  }
  .parrafo {
    line-height: 38px;
    font-size: 18px;
  }
  .parrafo p {
    line-height: 38px !important;
    font-size: 17px !important;
  }
}/*# sourceMappingURL=estilos.css.map */